html, body, #root {
  height: 100%;
}

input {
  color: #4a4a4a !important;
}

a:hover {
  color: hsl(207, 61%, 53%) !important;
}

.tabs li.is-active a {
  border-bottom-color: hsl(207, 61%, 53%) !important;
  color: hsl(207, 61%, 53%) !important;
}

.no-content::after, .no-content::before {
  content: none !important;
}

.no-rotate::after, .no-rotate::before {
  transform: translateX(-50%) translateY(-50%) !important;
}

.delete {
  width: 24px !important;
  height: 24px !important;
  min-width: 24px !important;
  min-height: 24px !important;
  max-width: 24px !important;
  max-height: 24px !important;
}